/* text-themecolor */
/* -- Custom Top Menu  */

.special-font{
    font-weight: bold;
    font-size: 20px;
    font-family: cursive;
}
/* End Top Menu */

.sidebar-nav ul li ul {
    padding-left: 15px;
    padding-top: 0px;
}
.user-profile .profile-img img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}
.topbar .profile-pic {
    width: 30px;
    border-radius: 50%;
    height: 30px;
}

.btn.focus,
.btn:focus {
    /* outline: 0; */
    box-shadow: none;
}

::placeholder {
    color: #99abb4 !important;
    font-size: 13px;
}

.form-control {
    color: #000000;
}

.form-control:disabled,
.form-control[readonly] {
    color: #000 !important;
    background: #ddd !important;
}
.text-black{
    color: #000;
}

.input-group-prepend,
.input-group-append {
    margin-top: 6px;
}



.search .form-group{
    margin-right: 20px;
}
.search .form-control{
    width: 200px !important;
    height: 38px;
}

.top-menu-item{
    color: #798699
}

.top-menu-a{
    font-size: 15px !important;
    white-space: nowrap;
    padding: 0px 16px;
}
.top-menu{
    padding: 0px;
    border-radius: 0px;
    margin-top: 10px;
    background: #272c33;
}


.form-title span{
    background: #fff;
    padding-right: 10px;
}
.form-title:after {
    content: "";
    display: block;
    margin-top: -15px;
}



/* #dataTableNoPaging td, #dataTableNoPaging th {
    border-color: #272c33;
} */


/* Newly Added */

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    font-size: 17px;
    line-height: 27px !important;
}
.topbar .top-navbar {
    min-height: 45px !important;
}
.topbar .top-navbar .navbar-header {
    line-height: 45px !important;
}
.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 50px !important;
}

.card-header {
    padding: 1px 1.25rem;
    
}
.card-header h4 {
    margin: 2px 2px;
    color: #333333;
    font-weight: bold;
    
}

body, .page-wrapper {
    background-color: #81BCEA;
    background-image: url('http://dhillon.it/maan/images/bgbody.gif');
    background-repeat: repeat-x;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
body, td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333333;
    background-color: #CCCCCC;
}

table.table-bordered.custom-tbl tr td, table.table-bordered.custom-tbl tr th {
    border: 1px solid #000;
    /* padding-left: 4px; */
    color: #000;
}
.themeThead{
    color: #fff;
    font-weight: bold;
    background: #dac18f
}

th {
    font-weight: 600;
    text-align: center;
    padding: 6px 4px;
}
td {
    text-align: center;
    padding: 3px 8px;
}
td > input{
    background: #fff !important;
    min-height: 32px !important;
}




legend {
    display: block;
    padding-inline-start: 2px;
    padding-inline-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    width: 8%;
    border-image: initial;
    font-size: 15px;
    text-align: center;
}